<!DOCTYPE HTML>
<html>
    <script>
    </script>
    <head>
        <title>버스 안내</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://dl1.wpws.kr/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://unpkg.com/xeicon@2.3.3/xeicon.min.css">
        <link rel="stylesheet" href="../stylesheet/style.css">
        <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/notosanskr.css">
        <link rel="stylesheet" href="../stylesheet/datepicker.css">
        <script src="https://unpkg.com/bootstrap.native@2.0.23/dist/bootstrap-native.min.js"></script>
        <script src="../javascript/datepicker.js"></script>
        <script src='../javascript/main.js'></script>
        <script src='../javascript/config.js'></script>
    </head>
    <body>
        <nav class="navbar" style='background-color: #362907'>
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" style="width:43px;" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button> 
                    <a class="navbar-brand" href="/1"><b>버스 안내</b></a>
                </div>
                <div class="collapse navbar-collapse" id="menu">
                </div>
            </div>
        </nav>
            <div id="form" style='text-align: center'>
                <a href='./1'><input type='button' id='date' style='width:500px;height: 70px; margin-top:20px;' class='for datepicker' value='고속버스 시간표'></a>
                <br />
                <a href='./3'><input type="button" id="date" style='width:500px;height: 70px; margin-top:20px;' class="for datepicker" value='서울버스 시간표'></a>
            </div>
    </body>
</html>
        